*{
    margin: 0;
    padding: 0;
}
:root{
/* Redish / Pink:*/--button-color: #ff5358;
/* Dark red for button hover:*/--hover-button: #e00007;
/* Very light gray:*/--grey-box: #efefef;

}
header{
justify-content: space-between;
align-items: center;
margin: 1em;
}
li, ul, a{
display: inline;
margin-left: 16px;
text-decoration: none;
color: black;
}
body {
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 12px;
  }
h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    color: white;
}
.border-content{
    border:rgba(80, 80, 80, 0.137) 1px solid;
}
.box-shadow{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
#container-top-banner{
    height: 70vh;
    max-width: 100%;
}
.content-container-heading{
    text-align: center;
    padding-top: 250px;
}
#container-locals{
    background-color: #efefef;
    min-height: auto;
    max-width: 100%;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
    padding: 4em .5em;
}
.locals-content-container > p{
    background-color: white;
}
#container-featured{
    text-align: center;
    padding: 5em;
}
#featured-neighborhoods{
    display: flex;
        justify-content: space-around;
    margin-top: 2em;  
}
.featured-content{
height: 300px;
width: 300px;
background-size:cover;
background-repeat: no-repeat;

}   
.featured-content:nth-child(1){
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg);
}
.featured-content:nth-child(2){
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg);
}
.featured-content:nth-child(3){
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg );
}
footer{
    background-color: black;
    text-align: center;
    height: 20vh;
}
hr{
    color:#7a7373;
    width: 90%;
}

button{
    width: 30%;
    padding: 10px 20px;
    background-color: #ff5358;
    border-style: none;
    border-bottom: #e00007;
    color: white;
    font-size: 1.5em;
    border-radius: .2em;
    margin-top: 16px;
}
button:hover{
    background-color:#e00007;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.7em;
}
h5{
    font-size: 1.5em;
}
p, h3{
    display: flex;
    align-items: center;
    padding: 8px 16px;
}
