* {
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Lucida Sans',sans-serif;
}
header, nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(49, 173, 0);
    padding: 16px;
    color: white;
    list-style-type: none;
}
#trulia-logo{
    height: 25px;
}
nav > ul li, dt{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
#trulia-links-2{
    margin-right: 100px;
}
#content-container{
    background: rgb(222, 222, 222);
    height: auto;
    padding: 16px;
    margin: 8px;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
}
.price-of-listing, .details-of-listing, .address-of-listing, .content-homes-heading{
    margin: 8px;
    list-style-type: none;
    font-size: 14px;
}
#content-homes-heading > h3{
    margin-bottom: 32px;
}
h4::before{
    content:"$";
}
.listing-bedrooms-number::before{
    content:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/bed-icon.png);
}
.listing-bedrooms-number::after{
    content:" bd";
    padding-right: 10px;
}
.listing-bathrooms-number::before{
    content:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/bath-icon.png);
}
.listing-bathrooms-number::after{
    content:" ba";
    padding-right: 10px;
}
.listing-square-footage::after{
    content:" sqft";
}
.listing-item{
    max-width:auto;
}
.listing-image{
    height: 200px;
    max-width:auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.listing-details{
    background-color: white;
    height: auto;
    padding: 8px;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    box-shadow: 5px 5px 10px rgba(92, 92, 92, 0.596) ;
}
.address-of-listing{
    color: rgb(152, 152, 152);
}
.bold{
    font-weight: bolder;
}

